
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #45badd;  
}
.container{
  height:100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./robot.gif);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;   
}
button{
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 20px 10px 

}
#joke-container{
  height: 1vh;
}
#joke-text{
  margin-top: 20vh;
  color: rgb(239, 76, 103);
  font-family: "Rubik Vinyl", serif;
  font-weight: 1000;
  font-style: normal;
  
}

button:hover{
  filter: brightness(90%);  
  transform: scale(0.7);
}
button:disabled{
  cursor: default;
  filter: brightness(30%);  
}


/* for tablet or smaller */
@media screen and (max-width:1000px){
  .container{
    background-size: cover;
    background-position: center center;
  }
  button{
    box-shadow: 5px 5px 30px 20px;
  }
}

